@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.start-screen { 
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#87CEEB, #E0F6FF); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.start-jogo { 
   width: 500px;
   margin-bottom: 20px;
   z-index: 2;
}

.start-btn { 
    font-family: 'Press Start 2P', cursive;
    font-size: 24px;
    font-weight: bold;
    color: #ff0000;
    text-shadow: 2px 2px 0 #000000, 0 0 5px #fff;
    background-color: #ffea00;
    border: 4px solid #000;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    z-index: 2;
}

.start-btn:hover {
  transform: scale(1.1);
  background: #ffe066;
}

.clouds-start {
    position: absolute;
    animation: float-cloud 2s ease-in-out infinite alternate;
}

.cloud1-s { top: 100px; left: 30px; width: 250px; }
.cloud2-s { top: 400px; left: 150px; width: 300px; }
.cloud3-s { top: 200px; right: 200px; width: 275px; }
.cloud4-s { top: 500px; right: 100px; width: 300px; }
.cloud5-s { top: 10px; left: 680px; width: 230px; }

.game-board {
    width: 100%;
    height: 500px;
    border-bottom: 15px solid rgb(35, 160, 35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    right: -80px;
    animation: pipe-animation 1.5s infinite linear;
}

.mario {
    width: 120px;
    position: absolute;
    bottom: 0;
}

.jump {
    animation: jump 500ms ease-out;
}

.clouds {
    position: absolute;
    top: 50px;
    width: 300px;
    animation: clouds-game 20s infinite linear;
}

.score, .high-score {
    font-family: 'Press Start 2P', cursive;
    font-size: 28px; 
    font-weight: bold;
    color: #ff0000;
    text-shadow: 
        2px 2px 0 #000000, 
        0 0 5px #fff;    
    position: absolute;
}

.score { top: 20px; left: 20px; }

.high-score { top: 20px; right: 20px; }

.game-over-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.Reset-img {
    width: 400px;
    margin-bottom: 20px;
}

.reset-btn {
    font-family: 'Press Start 2P', cursive;
    font-size: 27px;
    font-weight: bold;
    color: #ff0000;
    text-shadow: 2px 2px 0 #000, 0 0 5px #fff;
    background-color: #ffea00;
    border: 4px solid #000;
    padding: 10px 20px;
    cursor: pointer;
}

.reset-btn:hover {
    transform: scale(1.1);
    background: #ffe066;
}

@keyframes pipe-animation {
    from {
        right: 0;
    }
    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }
    40% {
        bottom: 180px;
    }
    50% {
        bottom: 180px;
    }
    60% {
        bottom: 180px;
    }
    100% {
        bottom: 0;
    }
}

@keyframes clouds-game {
    from {
        right: -350px;
    }
    to {
        right: 100%;
    }
}

@keyframes float-cloud {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(20px);
    } 
    100% {
        transform: translateX(0);
    }
}
